/* fix width and styles */
.smart-style-3 input:not([type]),
.smart-style-3 input[type="color"],
.smart-style-3 input[type="email"],
.smart-style-3 input[type="number"],
.smart-style-3 input[type="password"],
.smart-style-3 input[type="tel"],
.smart-style-3 input[type="text"],
.smart-style-3 input[type="url"],
.smart-style-3 textarea {
    box-shadow: none;
}

input:not([type]),
input[type="color"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555;
    display: inline;
    font-size: 13px;
    height: 32px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: auto;
}

input:not([type]):focus,
input[type="color"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    border-color: #0091d9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
}

.form-horizontal .control-label {
    padding-top: 6px;
}

.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
    padding-top: 4px;
}

/* input group fix */
.input-group-addon, .input-group-btn {width: auto;}

.input-group-addon.focus {
    border-color: #0091d9;
    background-color: #72a0ce;
    color: #fff;
}

/* smart icon field fix */
.input {
    position: relative;
    display: inline-block;
}

.icon-append, .icon-prepend {
    color: #a2a2a2;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 25px;
}

.icon-prepend {
    border-right-style: solid;
    border-right-width: 1px;
    left: 5px;
    padding-right: 3px;
}

.icon-append {
    border-left-style: solid;
    border-left-width: 1px;
    right: 5px;
    padding-left: 3px;
}

.icon-prepend + input, .icon-prepend + textarea {
    padding-left: 37px;
}

.icon-append + input, .icon-append + textarea {
    padding-right: 37px;
}

.icon-append.focus, .icon-prepend.focus {
    border-color: #0091d9;
    color: #72a0ce;
}

/* Addon Icon  */
.input-icon-left > i, .input-icon-right > i {
    font-size: 15px;
    top: 28%;
}

 .input-icon-right > i {
    top: 5%;
 }

.input-icon-left > i.focus, .input-icon-right > i.focus {
    color: #72a0ce;
}

.input-icon-left input {
    padding-left: 29px;
}

.input-icon-right input {
    padding-right: 27px;
}

/* Checkbox and Radio tab fix */
input.checkbox[type="checkbox"], input.radiobox[type="radio"] {
    visibility: visible;
    opacity: 0;
}

label.focus input.radiobox[type="radio"] + span:before, label.focus input.radiobox[type="radio"]:checked + span:before {
    border-color: #2e7bcc;
    color: #2e7bcc;
}