{% extends "base.html" %}
{% load static from staticfiles %}
{% load icon from icons %}

{% block scripts %}
    <script src="{% static 'js/plugin/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugin/morris/morris.min.js' %}"></script>
{% endblock scripts %}

{% block scripts.inline %}
<script type="text/javascript">

    Morris.Bar({
        element : 'chart-ticket-fechado',
        data : {{ chart_tickets_fechados.json|safe }},
        xkey : 'name',
        ykeys : ['total'],
        labels : ['Total']
    });

    Morris.Bar({
        element : 'chart-ticket-by-hours',
        data : {{ chart_tickets_by_hours.json|safe }},
        xkey : 'name',
        ykeys : ['total'],
        labels : ['Total']
    });

</script>
{% endblock scripts.inline %}

{% block content %}

<div class="row">

    <div class="col-sm-12">

        <form method="post">
            {% csrf_token %}

            <button class="btn btn-sm btn-info pull-right">
                {% icon 'search' %} Filtrar
            </button>

            <select name="year" class="pull-right" style="margin-right: 20px;">
                {% for year in years %}
                    <option value="{{ year }}"{% if year == selected_year %} selected="selected"{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>

            <select name="month" class="pull-right" style="margin-right: 20px;">
                {% for month in months %}
                    <option value="{{ month.0 }}"{% if month.0 == selected_month %} selected="selected"{% endif %}>{{ month.1 }}</option>
                {% endfor %}
            </select>

        </form>

    </div>

</div>

<div class="space"></div>

<div class="row">

    <div class="col-sm-6">

        <div class="jarviswidget">

            <header>
                <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                <h2>Total de Tickets Fechados por Analista</h2>
            </header>

            <!-- widget div-->
            <div>

                <!-- widget content -->
                <div class="widget-body no-padding">

                    <div id="chart-ticket-fechado" class="chart no-padding"></div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </div>

    <div class="col-sm-6">

        <div class="jarviswidget">

            <header>
                <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                <h2>Total de Horas Trabalhadas por Funcionário</h2>
            </header>

            <!-- widget div-->
            <div>

                <!-- widget content -->
                <div class="widget-body no-padding">

                    <div id="chart-ticket-by-hours" class="chart no-padding"></div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </div>

</div>

{% endblock content %}