{% load input from forms %}
{% load i18n %}
{% block scripts %}

    <!--
    <script src="js/plugin/markdown/markdown.min.js"></script>
    <script src="js/plugin/markdown/to-markdown.min.js"></script>
    <script src="js/plugin/markdown/bootstrap-markdown.min.js"></script>
    -->
{% endblock scripts %}

<script type="text/javascript">

// DO NOT REMOVE : GLOBAL FUNCTIONS!
$(function () {
				/* MARKDOWN EDITOR*/

				$("#mymarkdown").markdown({
					autofocus:false,
					savable:true
				})
			});

$(function () {

    $("#id_ticket_form").on("submit", function () {

    var jqxhr = $.ajax({
        url: $(this).attr("action"),
        method: "post",
        data: $(this).serialize()
    });


    jqxhr.fail(function (xhr) {
        $(".modal").html(xhr.responseText);
    });


    return false;
});

// Metodo de auto complete.
$("#id_cliente_autocomplete").autocomplete({
    appendTo: '.modal-dialog',
    source: function (request, response) {
        $.ajax({
            url: "{% url "minitickets:autocomplete-cliente" %}",
            headers: {'X-CsrfToken': '{{ csrf_token }}'},
            method: "post",
            data: {term: request.term},
            dataType: "json",
            success: function (data) {
                response(data);
            }
        });
    },

    //Seleciona o id, pega valor do campo e copia para o item
    select: function (event, ui) {
        $("#id_cliente").val(ui.item.id);

        console.log(ui.item);

        var output = '<option selected="selected" value="">---------</option>';
        for(var i in ui.item.products) {
            var product = ui.item.products[i];
            output += '<option value="' + product.id + '">' + product.label + '</option>';
        }

        $("#id_produto").html(output);
    },
    //Alterar o campo auto complite - cliente
    change: function (event, ui) {
        //se o valor do campo não existir o campo sera apagado
        if (!ui.item) {
            $("#id_cliente").val('');
            $("#id_cliente_autocomplete").val('');
        }
    }
});

});
</script>

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button"> × </button>
            <h4 class="modal-title">{{ TITLE }}</h4>
        </div>

       <form  id="id_ticket_form" class="form-horizontal" method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}

           <div class="modal-body">
               {% for field in form.hidden_fields %}
                   {{ field }}
               {% endfor %}

               <div class="form-group">
                   <label for="{{ form.cliente.id_for_label }}_autocomplete" class="control-label no-padding-right col-sm-3">
                       <span class="txt-color-red">*</span>
                       {{ form.cliente.label }}
                   </label>
                   <div class="col-sm-9">
                       <input type="text" id="{{ form.cliente.id_for_label }}_autocomplete" />
                       {% for error in form.cliente.errors %}
                           <div class="help-block block txt-color-red">
                               {{ error }}
                           </div>
                       {% endfor %}
                   </div>
               </div>

               {% for field in form.visible_fields %}
                   {% input field "label_size"="3" "input_size"="9" %}
               {% endfor %}
           </div>

           <div class="modal-footer">
                <div class="md-footer">
                    <button class="btn btn-success" data-handler="cmdSave" data-provider="bootstrap-markdown">
                    <i class="fa fa-check"></i>Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>