{% extends 'page.html' %}

{% load static from staticfiles %}
{% load icon from icons %}
{% load i18n %}
{% load menu from menu %}

{% block page %}

<header id="header">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-left visible-sm visible-xs" style="width: auto; margin-left: 10px;">
        <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">{% icon 'reorder' %}</a> </span>
    </div>
    <!-- end collapse menu -->

    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo" class="bolder">
            <img src="{% static 'img/logo-wide-white.png' %}" alt="MiniTickets" class="no-margin"/>
        </span>
        <!-- END LOGO PLACEHOLDER -->

    </div>

    <!-- #PROJECTS: projects dropdown -->
    <div class="project-context pull-right">

        <span class="label">{% trans 'Welcome,' %}</span>
        <span class="project-selector dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }} {% icon 'caret-down' %}</span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'logout' %}">{% icon 'power-off' %} {% trans 'Logout' %}</a>
            </li>
        </ul>
        <!-- end dropdown-menu-->

    </div>
    <!-- end projects dropdown -->

</header> <!-- /.header -->

<aside id="left-panel">

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            {% menu %}
        </ul>

    </nav>

</aside> <!-- /.menu -->

<div id="main" role="main">

    {% block page.breadcrumbs %}
    <div id="ribbon" class="breadcrumbs breadcrumbs-fixed">

        <ul class="breadcrumb">
            {% for breadcrumb in BREADCRUMBS %}
                {% block page.breadcrumbs.breadcrumb %}
                <li {% if breadcrumb.breadcrumb == BREADCRUMBS.last %}class="active"{% endif %}>
                    {{ breadcrumb.breadcrumb.icon.as_html }}
                    {% if breadcrumb.breadcrumb.url %}
                        <a href="{{ breadcrumb.breadcrumb.url }}">{{ breadcrumb.breadcrumb }}</a>
                    {% else %}
                        {{ breadcrumb.breadcrumb }}
                    {% endif %}
                </li>
                {% endblock page.breadcrumbs.breadcrumb %}
            {% endfor %}
        </ul><!-- /.breadcrumb -->

        {% block page.breadcrumbs.extra %}{% endblock page.breadcrumbs.extra %}

    </div>
    {% endblock page.breadcrumbs %}

    <div id="content">

        <!-- row -->
        <div class="row">

            <div class="col-sm-12 col-xs-12">
            {% block content.header %}
            {% if TITLE %}
            <div class="page-header">

                <h1 class="txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    {{ TITLE|safe }}
                    {% if SUBTITLE %}
                    <small>
                        {% icon 'angle-double-right' %}&nbsp;&nbsp;
                        {{ SUBTITLE|safe }}
                    </small>
                    {% endif %}
                </h1>

            </div>
            {% endif %}
            {% endblock content.header %}
            </div>

        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-sm-12 col-xs-12">

                {% block page.content.messages %}
                <div id="messages">
                    {% for message in messages %}
                        <div class="alert alert-block {{ message.tag }} {{ message.extra_tags }} fade in">
                            <button class="close" data-dismiss="alert" type="button">×</button>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
                {% endblock page.content.messages %}

            </div>

        </div>

        {% block content %}{% endblock content %}

    </div> <!-- /.content -->

</div>

{% endblock page %}